.footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-cards {
  display: flex;
  flex-direction: row;
}

.footer-card-1-header {
  width: 124px;
  height: 42px;
  background-color: aquamarine;
  margin-bottom: 15px;
}

.footer-card-1-components {
  width: 254px;
  height: 154px;
  background-color: lightblue;
}

.footer-card-2-header {
  width: 86px;
  height: 26px;
  background-color: aquamarine;
}

.footer-card-2-components {
  width: 148px;
  height: 192px;
  background-color: lightblue;
  margin-top: 20px;
}

.footer-card-2 {
  margin-left: 20px;
}

.footer-card-3 {
  margin-left: 20px;
}

.footer-card-3-header {
  width: 64px;
  height: 26px;
  background-color: aqua;
}

.footer-card-3-components {
  width: 255px;
  height: 154px;
  background-color: lightblue;
  margin-top: 20px;
}

.footer-card-4 {
  margin-left: 20px;
}

.footer-card-4-form {
  width: 350px;
  height: 229px;
  background-color: aquamarine;
  border-radius: 5px;
}
