.cta {
}

.cta-header {
  width: 898px;
  height: 124px;
  background-color: aquamarine;
  align-content: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
}
